{% load i18n %}
{% load static %}

{% autoescape on%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if DEBUG %}
  <!-- <meta http-equiv="refresh" content="3" /> -->
  {% endif %}
  <title>Fitbit Web App</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/typeahead.css' %}">
  <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/typeahead.bundle.js' %}"></script>
  <script src="{% static 'js/d3.v4.min.js' %}"></script>
  <script src="{% static 'js/moment.min.js' %}"></script>
  <script src="{% static 'js/axios.min.js' %}"></script>
  <style>
    * {
      box-sizing: border-box;
      font-family: "Roboto", sans-serif;
    }

    .btn:focus, button:focus, button:hover {
      outline: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }

    html,
    body {
      min-height: 100%;
    }
  </style>
</head>

<body>
  {% include "common/_navbar.html" %}
  {% block content %} {% endblock %}
</body>

</html>
{% endautoescape %}
