{% url 'home' as dashboard_url %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand order-1 text-primary" href="{{ dashboard_url }}">
    <i class="fa fa-heartbeat" aria-hidden="true"></i>
    Fitbit Web Dashboard
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse order-2" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li
        class="nav-item {% if request.path == dashboard_url %} active {% endif %}"
      >
        <a class="nav-link" href="{{ dashboard_url }}">Home</a>
      </li>
      {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add-new-patient' %}">Add Patient</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}
      </li>
    </ul>
  </div>
</nav>
