{% load i18n %} {% autoescape on %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fitbit Web App</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <style>
      * {
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
      }

      html, body {
        min-height: 100%;
      }
    </style>
  </head>
  <body>
    <h2>
      UIC Fitbit Web Dashboard
    </h2>
    {% block content %} {% endblock %}
  </body>
</html>
{% endautoescape %}
