{% extends "common/_base.html" %}

{% block content %}
<style>
  .custom-button {
    text-align: center;
    background: #6ec33d;
    margin: 0 0 1em 0;
    border-radius: 1000px;
    display: flex;
  }

  #dashboard-btn {
    background-color: #0367fd;
  }

  .custom-button a {
    color: white;
    text-decoration: none;
    padding: 18px;
  }

  .login-form {
    height: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

<div class="login-form">
  {% if request.user and not request.user.id %}
  <div class="custom-button">
    <a href="{% url 'login' %}"> Login with Fitbit </a>
  </div>
  {% else %}
  <div class="custom-button" id="dashboard-btn">
    <a href="{% url 'home' %}"> Go to Dashboard </a>
  </div>
  {% endif %}
</div>

{% endblock %}
