{% load static %}

<style>
  #activity-zones {
    padding: 0 8px;
  }
</style>

<div class="">
  <div id="activity-zones"></div>
</div>

<script>
  function keyize(str) {
    return str.replace(/\s+/g, "-").toLowerCase();
  }

  function redrawActivityZones({ range, patientId }) {
    const activityZonesEl = $("#activity-zones");

    // set the dimensions and margins of the graph
    var margin = { top: 20, right: 15, bottom: 75, left: 30 },
      width = activityZonesEl.width() - margin.left - margin.right,
      height = activityZonesEl.width() / 3 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3
      .select("#activity-zones")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .attr("font-size", "12px")
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    axios({
      headers: { "X-CSRFToken": getCookie("csrftoken") },
      method: "post",
      url: "{% url 'activity_zones' %}",
      data: { range, patientId },
    }).then(({ data }) => {
      if (data.length <= 0) return;

      // List of groups = header of the csv files
      var keys = Object.keys(data[0]).filter((k) => k != "date");

      // color palette
      var color = d3.scaleOrdinal().domain(keys).range(d3.schemeCategory20);

      var stackedData = d3.stack().keys(keys)(data);

      //////////
      // AXIS //
      //////////

      // Add X axis
      var x = d3
        .scaleTime()
        .domain(d3.extent(data, (d) => moment(d.date, "DD/MM/YYYY").toDate()))
        .range([0, width]);
      var xAxis = svg
        .append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x).ticks(5));

      // Add X axis label:
      svg
        .append("text")
        .attr("text-anchor", "end")
        .attr("x", width + margin.left / 2)
        .attr("y", height + 30)
        .text("Date");

      // Add Y axis label:
      svg
        .append("text")
        .attr("text-anchor", "end")
        .attr("x", -margin.left)
        .attr("y", -10)
        .text("Active minutes")
        .attr("text-anchor", "start");

      // Add Y axis
      var y = d3
        .scaleLinear()
        .domain(
          d3.extent(data, (d) =>
            keys
              .map((k) => parseInt(d[k], 10))
              .reduce((total, num) => total + num, 0)
          )
        )
        .range([height, 0]);
      svg.append("g").call(d3.axisLeft(y).ticks(5));

      //////////
      // BRUSHING AND CHART //
      //////////

      // Add a clipPath: everything out of this area won't be drawn.
      var clip = svg
        .append("defs")
        .append("svg:clipPath")
        .attr("id", "clip")
        .append("svg:rect")
        .attr("width", width)
        .attr("height", height)
        .attr("x", 0)
        .attr("y", 0);

      // Add brushing
      var brush = d3
        .brushX() // Add the brush feature using the d3.brush function
        .extent([
          [0, 0],
          [width, height],
        ]) // initialise the brush area: start at 0,0 and finishes at width,height: it means I select the whole graph area
        .on("end", updateChart); // Each time the brush selection changes, trigger the 'updateChart' function

      // Create the scatter variable: where both the circles and the brush take place
      var areaChart = svg.append("g").attr("clip-path", "url(#clip)");

      // Area generator
      var area = d3
        .area()
        .x(({ data }) => x(moment(data.date, "DD/MM/YYYY").toDate()))
        .y0((d) => y(d[0]))
        .y1((d) => y(d[1]));

      // Show the areas
      areaChart
        .selectAll("mylayers")
        .data(stackedData)
        .enter()
        .append("path")
        .attr("class", function (d) {
          return "myArea " + keyize(d.key);
        })
        .style("fill", function (d) {
          return color(d.key);
        })
        .attr("d", area);

      // Add the brushing
      areaChart.append("g").attr("class", "brush").call(brush);

      var idleTimeout;
      function idled() {
        idleTimeout = null;
      }

      // A function that update the chart for given boundaries
      function updateChart() {
        extent = d3.event.selection;

        // If no selection, back to initial coordinate. Otherwise, update X axis domain
        if (!extent) {
          if (!idleTimeout) return (idleTimeout = setTimeout(idled, 350)); // This allows to wait a little bit
          x.domain(range);
        } else {
          x.domain([x.invert(extent[0]), x.invert(extent[1])]);
          areaChart.select(".brush").call(brush.move, null); // This remove the grey brush area as soon as the selection has been done
        }

        // Update axis and area position
        xAxis.transition().duration(1000).call(d3.axisBottom(x).ticks(5));
        areaChart.selectAll("path").transition().duration(1000).attr("d", area);
      }

      //////////
      // HIGHLIGHT GROUP //
      //////////

      // What to do when one group is hovered
      var highlight = function (d) {
        // reduce opacity of all groups
        d3.selectAll(".myArea").style("opacity", 0.1);
        // expect the one that is hovered
        d3.select("." + keyize(d)).style("opacity", 1);
      };

      // And when it is not hovered anymore
      var noHighlight = function (d) {
        d3.selectAll(".myArea").style("opacity", 1);
      };

      //////////
      // LEGEND //
      //////////

      // Add one dot in the legend for each name.
      const size = 16;
      const groups = svg
        .selectAll("labels")
        .data(keys)
        .enter()
        .append("g")
        .attr("class", "label")
        .attr(
          "transform",
          (_, i) => `translate(
            ${i * width * 0.25 + (width * 0.25) / 2},
            ${height + margin.bottom - 2 * size}
          )`
        );

      groups
        .append("rect")
        .attr("width", size)
        .attr("height", size)
        .attr("rx", size / 2)
        .attr("ry", size / 2)
        .attr("y", -size / 2)
        .attr("x", -size * 1.25)
        .style("fill", function (d) {
          return color(d);
        })
        .on("mouseover", highlight)
        .on("mouseleave", noHighlight);

      groups
        .append("text")
        .style("fill", function (d) {
          return color(d);
        })
        .text(function (d) {
          return d;
        })
        .attr("text-anchor", "left")
        .style("cursor", "pointer")
        .style("alignment-baseline", "middle")
        .on("mouseover", highlight)
        .on("mouseleave", noHighlight);
    });
  }
</script>
