{% load static %}

<div class="flex-fill">
  <p class="m-0 p-0 text-center">Physical Activity Level (PAL)</p>
  <div id="activity-heatmap"></div>
</div>

<script>
  function getWeekStart(dataItem) {
    const { start } = dataItem.weekRange;
    return moment(start, "DD/MM/YYYY").toDate();
  }

  function redrawActivityHeatmap({ period, patientId }) {
    const heatmapEl = $("#activity-heatmap");

    // Labels of row and columns
    const weekdays = [
      "Sun",
      "Mon",
      "Tue",
      "Wed",
      "Thu",
      "Fri",
      "Sat",
    ].reverse();

    // set the dimensions and margins of the graph
    const margin = { top: 10, right: 15, bottom: 10, left: 30 },
      width = heatmapEl.width() - margin.left - margin.right,
      height = (heatmapEl.width() * 7) / 11 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    const svg = d3
      .select("#activity-heatmap")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", `translate(${margin.left}, 0)`);

    // Read the data
    axios({
      headers: { "X-CSRFToken": getCookie("csrftoken") },
      method: "post",
      url: "{% url 'activity_summary' %}",
      data: { period, patientId },
    }).then(({ data }) => {
      const { summaries } = data;
      const startDate = moment(data.startDate, "DD/MM/YYYY").toDate();
      const endDate = moment(data.endDate, "DD/MM/YYYY").toDate();
      const weeks = [];
      for (let currDate = startDate; currDate.getTime() < endDate.getTime(); ) {
        weeks.push(currDate);
        currDate = new Date(currDate.getTime() + 7 * 1000 * 60 * 60 * 24);
      }

      // Build X scale:
      const x = d3.scaleBand().range([0, width]).domain(weeks).padding(0);

      svg
        .append("g")
        .attr("transform", `translate(0, ${height})`)
        .call(
          d3
            .axisBottom(x)
            .tickSize(0)
            .tickFormat((d) => {
              console.log(d);
              const start = moment(d);
              const end = moment(
                new Date(start.toDate().getTime() + 6 * 1000 * 60 * 60 * 24)
              );
              if (weeks.length <= 4) {
                return `${start.format("MMM D")}-${end.format("MMM D")}`;
              } else {
                return `${start.format("MM/DD")}`;
              }
            })
        );

      // Build Y scale and axis:
      const y = d3
        .scaleBand()
        .range([height, margin.bottom])
        .domain(weekdays)
        .padding(0);
      svg.append("g").call(d3.axisLeft(y).tickSize(0));

      // Build color scale
      const myColor = d3
        .scaleLinear()
        .range(["#ebedf0", "#216e39"])
        .domain([0, 4]); // 0 = dead; 2-2.5 = average; 4 = professional athletes

      svg
        .selectAll()
        .data(summaries)
        .enter()
        .append("rect")
        .attr("x", (d) => x(getWeekStart(d)))
        .attr("y", (d) => y(d.weekDay))
        .attr("width", x.bandwidth())
        .attr("height", y.bandwidth())
        .style("fill", (d) => myColor(d.value));
    });
  }
</script>
