{% load static %}

<div class="flex-fill">
  <p class="m-0 p-0 text-center">
    <a
      target="_blank"
      href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3636460/"
    >
      Physical Activity Level (PAL)
    </a>
    <i
      style="cursor: pointer"
      class="fa fa-question-circle"
      title="Physical activity level is defined as the ratio between total energy expenditure and resting energy expenditure per day. It is a dimension-less quantity."
    ></i>
  </p>
  <div id="activity-heatmap"></div>
  <div id="activity-heatmap-legend">
    <div class="color-container"></div>
    <div class="range">
      <div>
        <span>Low </span>
        <span style="font-size: 0.75rem">0 = Dead</span>
      </div>
      <div>
        <span>High</span>
        <span style="font-size: 0.75rem">4 = Athletes</span>
      </div>
    </div>
  </div>
</div>

<style>
  #activity-heatmap-legend .color-container {
    height: 16px;
    box-sizing: content-box;
    width: calc(100% - 5em - 2px);
    margin: 1em 2.5em 0em 2.5em;
    border: 1px solid black;
    display: flex;
  }

  #activity-heatmap-legend .range {
    display: flex;
    padding: 0 0.5em 0 0.5em;
    justify-content: space-between;
    align-items: center;
  }

  #activity-heatmap-legend .range > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #activity-index-tooltip {
    position: absolute;
    background-color: darkslategray;
    padding: 4px;
    color: white;
    z-index: 10000;
    font-size: 12px;
  }

  #activity-index-tooltip p {
    margin: 0;
    display: block;
    white-space: pre;
  }
</style>

<script>
  function getWeekStart(dataItem) {
    const { start } = dataItem.weekRange;
    return moment.utc(start, "DD/MM/YYYY").toDate();
  }

  function buildPALLegend() {
    const colorContainer = d3.select(
      "#activity-heatmap-legend .color-container"
    );
    const boxCount = 9;
    const height = colorContainer.style("height");
    const { width } = colorContainer.node().getBoundingClientRect();
    d3.schemeGreens[boxCount].forEach((color, i) => {
      colorContainer
        .append("div")
        .attr("class", "zone")
        .style("width", `${width / boxCount}px`)
        .style("height", height)
        .style("background-color", color)
        .attr(
          "title",
          ((i * 4) / 9).toFixed(2) + " - " + (((i + 1) * 4) / 9).toFixed(2)
        );
    });
  }

  function redrawActivityHeatmap({ range, patientId }) {
    const heatmapEl = $("#activity-heatmap");
    const tooltip = d3
      .select("body")
      .append("div")
      .attr("id", "activity-index-tooltip")
      .style("display", "none");

    // Labels of row and columns
    const weekdays = [
      "Sun",
      "Mon",
      "Tue",
      "Wed",
      "Thu",
      "Fri",
      "Sat",
    ].reverse();

    // set the dimensions and margins of the graph
    const margin = { top: 10, right: 15, bottom: 10, left: 30 },
      width = heatmapEl.width() - margin.left - margin.right,
      height = (heatmapEl.width() * 7) / 11 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    const svg = d3
      .select("#activity-heatmap")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", `translate(${margin.left}, 0)`);

    // Read the data
    makeRequest("post", "{% url 'activity_summary' %}", {
      range,
      patientId,
    }).then((data) => {
      const { summaries } = data;
      const startDate = moment.utc(data.startDate, "DD/MM/YYYY").toDate();
      const endDate = moment.utc(data.endDate, "DD/MM/YYYY").toDate();
      const weeks = [];
      for (let currDate = startDate; currDate.getTime() < endDate.getTime(); ) {
        weeks.push(currDate);
        currDate = new Date(currDate.getTime() + 7 * 1000 * 60 * 60 * 24);
      }

      buildPALLegend();

      // Build X scale:
      const x = d3.scaleBand().range([0, width]).domain(weeks).padding(0.01);

      svg
        .append("g")
        .attr("transform", `translate(0, ${height})`)
        .call(
          d3
            .axisBottom(x)
            .tickSize(0)
            .tickFormat((d) => {
              const start = moment(d);
              const end = moment(
                new Date(start.toDate().getTime() + 6 * 1000 * 60 * 60 * 24)
              );
              if (weeks.length <= 4) {
                return `${start.format("DD/MM")} - ${end.format("DD/MM")}`;
              } else {
                return `${start.format("MMM")}`;
              }
            })
        );

      // Build Y scale and axis:
      const y = d3
        .scaleBand()
        .range([height, margin.bottom])
        .domain(weekdays)
        .padding(0.01);
      svg.append("g").call(d3.axisLeft(y).tickSize(0));

      svg.on("mouseout", function () {
        tooltip.style("display", "none");
        d3.selectAll(".activity-index-box").attr("opacity", 1);
      });

      svg
        .selectAll()
        .data(summaries)
        .enter()
        .append("rect")
        .attr("x", (d) => x(getWeekStart(d)))
        .attr("y", (d) => y(d.weekDay))
        .attr("width", x.bandwidth())
        .attr("height", y.bandwidth())
        .attr("stroke", "black")
        .attr("stroke-width", 1)
        .style("cursor", "pointer")
        .style("fill", (d) => {
          // Reference: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3636460/
          // PAL Value: 0 = dead, 2-2.5 = average, 4 = professional athletes
          return d.physicalActivityLevel !== null
            ? d3.interpolateGreens(d.physicalActivityLevel / 2.5)
            : "transparent";
        })
        .attr("class", "activity-index-box")
        .on("mousemove", function (d) {
          d3.selectAll(".activity-index-box").attr("opacity", 0.25);
          d3.select(this).attr("opacity", 1);
          tooltip
            .style("display", "block")
            .style("top", `${d3.event.pageY + 20}px`)
            .style(
              "left",
              `${d3.event.pageX - this.getBoundingClientRect().width / 2}px`
            ).html(`
<p>Physical Activity Level: ${
            formatNumber(d.physicalActivityLevel) || "Unknown"
          }</p>
<p>Date: ${moment.utc(d.date, "DD/MM/YYYY").format("MMM DD YYYY")}</p>`);
        });
      if (weeks.length > 4) {
        svg
          .selectAll()
          .data(summaries)
          .enter()
          .append("text")
          .attr("x", (d) => x(getWeekStart(d)) + x.bandwidth() / 2)
          .attr("y", (d) => y(d.weekDay) + y.bandwidth() / 2)
          .attr("text-anchor", "middle")
          .attr("alignment-baseline", "middle")
          .attr("font-size", 10)
          .attr("width", x.bandwidth())
          .attr("height", y.bandwidth())
          .style("pointer-events", "none")
          .text((d) =>
            moment
              .utc(d.date, "DD/MM/YYYY")
              .format(weeks.length >= 6 ? "DD" : "DD/MM")
          )
          .append("title")
          .text(
            (d) =>
              `Physical Activity Level: ${
                d.physicalActivityLevel !== null
                  ? d.physicalActivityLevel.toFixed(2)
                  : "Unknown"
              }
  Date: ${d.date}`
          );
      }
    });
  }
</script>
