{% load static %}

<style>
  #activity-zones {
    padding: 0 8px;
  }

  #activity-zones-legend {
    position: absolute;
    top: 0.25em;
    right: 0;
  }

  #activity-zones-legend .zone {
    display: inline-flex;
    align-items: center;
    margin-right: 12px;
  }

  #activity-zones-legend .zone .square {
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 1000vw;
  }

  #activity-zones-legend .zone .text {
    display: inline-block;
    margin: 0;
    margin-left: 4px;
    font-size: 0.65rem;
    font-weight: bold;
  }
</style>

<div class="">
  <div id="activity-zones-legend"></div>
  <div id="activity-zones"></div>
</div>

<script>
  function parseActivityZones(dates, data) {
    return dates.map(
      (date) =>
        data.find(
          (d) =>
            moment.utc(d.date, "DD/MM/YYYY").toDate().getTime() ===
            date.getTime()
        ) || {
          date,
          sedentary: 0,
          lightlyActive: 0,
          fairlyActive: 0,
          veryActive: 0,
          untracked: 24,
        }
    );
  }

  function redrawActivityZones({ range, patientId }) {
    const activityZonesEl = $("#activity-zones");
    const legendEl = d3.select("#activity-zones-legend");

    // set the dimensions and margins of the graph
    var margin = { top: 20, right: 15, bottom: 25, left: 30 },
      width = activityZonesEl.width() - margin.left - margin.right,
      height = 160 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3
      .select("#activity-zones")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .attr("font-size", "12px")
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    makeRequest("post", "{% url 'activity_zones' %}", {
      range,
      patientId,
    }).then((data) => {
      if (data.length <= 0) return;

      const subgroups = [
        "sedentary",
        "lightlyActive",
        "fairlyActive",
        "veryActive",
        "untracked",
      ];
      const dates = getDatesInRange(range.start, range.end);
      const color = d3
        .scaleOrdinal()
        .domain(subgroups)
        .range(d3.schemeCategory20);
      const results = parseActivityZones(dates, data);
      const stackedData = d3.stack().keys(subgroups)(results);

      subgroups.forEach((group) => {
        const zone = legendEl.append("div").attr("class", "zone");
        zone
          .append("div")
          .attr("class", "square")
          .style("background-color", color(group));
        zone
          .append("p")
          .attr("class", "text")
          .text(camelCaseToNormalCase(group).replace(" Minutes", ""));
      });

      // Add X axis
      const x = d3.scaleBand().domain(dates).range([0, width]).padding([0.2]);
      svg
        .append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(
          d3
            .axisBottom(x)
            .tickValues(
              x
                .domain()
                .filter((d, i) =>
                  x.domain().length < 14
                    ? true
                    : x.domain().length <= 21
                    ? i % 2 === 0
                    : x.domain().length <= 35
                    ? i % 5 === 0
                    : i % 7 === 0
                )
            )
            .tickFormat((d) => moment(d).format("MMM D"))
        );

      // Add Y axis
      const y = d3.scaleLinear().domain([0, 24]).range([height, 0]);
      svg
        .append("g")
        .attr("class", "y-axis")
        .call(d3.axisLeft(y).tickFormat(d3.format("d")));

      svg
        .append("text")
        .attr("text-anchor", "middle")
        .attr("x", 0)
        .attr("y", -8)
        .text("Hours");

      // Show the bars
      svg
        .append("g")
        .selectAll("g")
        // Enter in the stack data = loop key per key = group per group
        .data(stackedData)
        .enter()
        .append("g")
        .attr("fill", (d) => color(d.key))
        .selectAll("rect")
        // enter a second time = loop subgroup per subgroup to add all rectangles
        .data((d) => d)
        .enter()
        .append("rect")
        .attr("x", (d) => x(moment.utc(d.data.date, "DD/MM/YYYY").toDate()))
        .attr("y", (d) => y(d[1]))
        .attr("height", (d) => y(d[0]) - y(d[1]))
        .attr("width", x.bandwidth())
        .style("cursor", "pointer")
        .append("title")
        .text(
          (d) =>
            `Sedentary: ${d.data.sedentary.toFixed(2)} ${
              d.data.sedentary === 1 ? "hour" : "hours"
            }\nLightly Active: ${d.data.lightlyActive.toFixed(2)} ${
              d.data.lightlyActive === 1 ? "hour" : "hours"
            }\nFairly Active: ${d.data.fairlyActive.toFixed(2)} ${
              d.data.fairlyActive === 1 ? "hour" : "hours"
            }\nVery Active: ${d.data.veryActive.toFixed(2)} ${
              d.data.veryActive === 1 ? "hour" : "hours"
            }\nUntracked: ${d.data.untracked.toFixed(2)} ${
              d.data.untracked === 1 ? "hour" : "hours"
            }\nDate: ${moment
              .utc(d.data.date, "DD/MM/YYYY")
              .format("DD MMM YYYY")}`
        );
    });
  }
</script>
