{% load static %}

<style>
  #activity-charts {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #activity-charts-tooltip {
    position: absolute;
    background-color: darkslategray;
    padding: 4px;
    color: white;
    z-index: 10000;
    font-size: 12px;
  }

  #activity-charts-tooltip p {
    margin: 0;
    display: block;
    white-space: pre;
  }
</style>

<div id="activity-charts"></div>

<script>
  function redrawActivityMetrics({ range, patientId }) {
    const activityChartsEl = $("#activity-charts");
    d3.select("body").append("div").attr("id", "activity-charts-tooltip");
    const optimals = {};

    // set the dimensions and margins of the graph
    const margin = { top: 30, right: 20, bottom: 30, left: 35 },
      width = activityChartsEl.width() / 2 - margin.left - margin.right,
      height = activityChartsEl.width() / 4 - margin.top - margin.bottom;

    //Read the data
    makeRequest("post", "{% url 'activity_metrics' %}", {
      range,
      patientId,
    }).then((data) => {
      // group the data: I want to draw one line per group
      const sumstat = d3
        .nest() // nest function allows to group the calculation per level of a factor
        .key((d) => d.metric)
        .entries(data);

      // What is the list of groups?
      allKeys = sumstat.map((d) => d.key);

      // Add an svg element for each group. The will be one beside each other and will go on the next row when no more room available
      const svg = d3
        .select("#activity-charts")
        .selectAll("uniqueChart")
        .data(sumstat)
        .enter()
        .append("svg")
        .attr("id", (s) => `${s.key}-svg`)
        .attr("font-size", "12px")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      // Add X axis --> it is a date format
      const x = d3
        .scaleUtc()
        .domain([range.start, range.end])
        .range([0, width]);

      svg
        .append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(
          d3
            .axisBottom(x)
            .ticks(3)
            .tickFormat((d) => moment(d).format("MMM D"))
        );

      //Add Y axis
      const yAxes = {};
      svg.append("g").each(function (s) {
        if (!s.values.length > 0) return;
        const svg1 = d3.select(this);
        let domain = d3.extent(s.values.map((s) => +s.value));
        let optimal = s.values[0]["optimal"];
        if (optimal !== undefined && optimal !== null) {
          if (typeof optimal === "object") {
            domain = [
              Math.min(optimal.min, domain[0]),
              Math.max(optimal.max, domain[1]),
            ];
          } else if (
            typeof optimal === "number" ||
            typeof optimal === "string"
          ) {
            optimal = parseFloat(optimal, 10);
            domain = [
              Math.min(optimal, domain[0]),
              Math.max(optimal, domain[1]),
            ];
          }
          optimals[s.key] = optimal;
        }
        const y = d3
          .scaleLinear()
          .domain(stepDomain(domain))
          .range([height, 0]);
        yAxes[s.key] = y;
        if (s.key === "Active Duration (min)") {
          svg1.call(d3.axisLeft(y).ticks(5));
        } else {
          svg1.call(d3.axisLeft(y).ticks(5).tickFormat(d3.format("d")));
        }
      });

      // color palette
      const color = d3
        .scaleOrdinal()
        .domain(allKeys)
        .range([
          "#e41a1c",
          "#377eb8",
          "#4daf4a",
          "#984ea3",
          "#ff7f00",
          "#ffff33",
          "#a65628",
          "#f781bf",
          "#999999",
        ]);

      // Draw the line
      svg
        .append("path")
        .attr("fill", "none")
        .attr("stroke", "black")
        .attr("stroke-width", 1)
        .each(function (s) {
          const path = d3.select(this);
          const y = yAxes[s.key];
          path.attr("d", (d) =>
            d3
              .line()
              .x((d) => x(moment.utc(d.date, "DD/MM/YYYY").toDate()))
              .y((d) => y(+d.value))(d.values)
          );
        });

      const units = {
        active_duration: "(hours)",
        distance_travelled: "(meters)",
      };

      // Add titles
      svg
        .append("text")
        .attr("text-anchor", "middle")
        .attr("y", -10)
        .attr("x", width / 2)
        .text(
          (d) =>
            snakeCaseToNormalCase(d.key) +
            (units[d.key] ? " " + units[d.key] : "")
        );

      // Draw the optimal line
      svg
        .append("path")
        .attr("fill", "none")
        .attr("stroke", "steelblue")
        .attr("stroke-width", 1)
        .each(function (s) {
          const { key } = s;
          if (!key || !optimals[key]) return;
          const optimal = optimals[key];
          const isRange = typeof optimal === "object";
          const lines = isRange ? [optimal.min, optimal.max] : [optimal];
          const y = yAxes[key];

          const path = d3.select(this);
          if (!isRange) {
            const values = [
              { date: range.start, value: optimal },
              { date: range.end, value: optimal },
            ];
            const line = d3
              .line()
              .x((d) => x(d.date))
              .y((d) => y(+d.value))(values);

            path.attr("d", line);
          } else {
            const values = [
              { date: range.start, value: optimal },
              { date: range.end, value: optimal },
            ];
            const area = d3
              .area()
              .x((d) => x(d.date))
              .y0((d) => y(+d.value.min))
              .y1((d) => y(+d.value.max))(values);

            path
              .attr("d", area)
              .attr("stroke-width", 0)
              .attr("fill", "steelblue")
              .attr("fill-opacity", 0.5);
          }
        });

      const tooltip = d3.select("#activity-charts-tooltip");
      const tooltipLine = svg
        .append("line")
        .attr("id", (s) => `${s.key}-tooltipline`);
      const tooltipCircle = svg
        .append("circle")
        .attr("id", (s) => `${s.key}-tooltipcircle`);
      const dates = getDatesInRange(range.start, range.end);

      svg
        .append("rect")
        .attr("width", width)
        .attr("height", height)
        .attr("opacity", 0)
        .each(function (s) {
          const rectOverlay = d3.select(this);
          rectOverlay.on("mouseover", function () {
            tooltip.transition().duration(500).style("opacity", 1);
            d3.select(`#${s.key}-tooltipline`).style("display", "block");
            d3.select(`#${s.key}-tooltipcircle`).style("display", "block");
          });
          rectOverlay.on("mouseout", function () {
            tooltip.transition().duration(1000).style("opacity", 0);
            d3.select(`#${s.key}-tooltipline`).style("display", "none");
            d3.select(`#${s.key}-tooltipcircle`).style("display", "none");
          });
          rectOverlay.on("mousemove", function () {
            const mouse = d3.mouse(this);
            let date = x.invert(mouse[0]);
            const bisectIndex = d3.bisectLeft(dates, date);
            const bisectedDate = dates[bisectIndex];
            const diffHours =
              (bisectedDate.getTime() - date.getTime()) / 1000 / 60 / 60;
            date =
              diffHours < 12
                ? bisectedDate
                : dates[Math.max(0, bisectIndex - 1)];

            const y = yAxes[s.key];
            const value = s.values.find(
              (d) =>
                moment.utc(d.date, "DD/MM/YYYY").toDate().getTime() ===
                date.getTime()
            );

            if (value) {
              d3.select(`#${s.key}-tooltipline`)
                .attr("stroke", "black")
                .attr("opacity", 0.5)
                .attr("x1", x(date))
                .attr("x2", x(date))
                .attr("y1", 0)
                .attr("y2", height);

              d3.select(`#${s.key}-tooltipcircle`)
                .attr("fill", "red")
                .attr("stroke", "red")
                .attr("fill-opacity", 0.5)
                .attr("cx", x(date))
                .attr("cy", y(value.value))
                .attr("r", 4);

              const padding = 15;
              tooltip
                .style("left", `${d3.event.pageX + padding}px`)
                .style("top", `${d3.event.pageY + padding}px`).html(`
<p>${snakeCaseToNormalCase(s.key)}: ${value.value}</p>
<p>Date: ${moment.utc(date).format("MMM DD YYYY")}</p>`);
            }
          });
        });
    });
  }
</script>
