<style>
  .main .activity-grid {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr;
    align-items: center;
  }
</style>

<div class="main">
  <div class="grid-item activity">
    <h6 class="section-title">Activity</h6>
    <div class="activity-grid">
      <div>
        {% include 'dashboard/activity/_areachart.html' %}
      </div>
      <div>
        {% include 'dashboard/activity/_linecharts.html' %}
      </div>
    </div>
  </div>
  <div class="grid-item nutrition">
    <h6 class="section-title">Nutrition</h6>
  </div>
  <div class="grid-item body-weight-fat">
    <h6 class="section-title">Body Weight & Fat</h6>
  </div>
  <div class="dual-section heart-rate">
    <div class="grid-item">
      <h6 class="section-title">Heart Rate</h6>
    </div>
    <div class="grid-item sleep-cycles">
      <h6 class="section-title">Sleep Cycles</h6>
    </div>
  </div>
</div>
