<style>
  .activity-grid {
    display: flex;
    flex-direction: column;
  }

  .main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.9fr 1fr;
  }

  .main .grid-item {
    border: 1px solid #dadadada;
    background-color: white;
  }

  .main .section-title {
    padding: 0.25rem;
  }

  .heart-sleep {
    display: flex;
    flex-direction: column;
  }
</style>

<script>
  async function makeRequest(method, url, data) {
    let options = {
      headers: { "X-CSRFToken": getCookie("csrftoken") },
      method,
      url,
    };

    if (data && method !== "get") {
      options = { ...options, data };
    }

    return (await axios(options)).data;
  }

  Array.prototype.groupBy = function (property) {
    return this.reduce((acc, obj) => {
      const key = obj[property];
      if (!acc[key]) {
        acc[key] = [];
      }
      // Add object to list for given key's value
      acc[key].push(obj);
      return acc;
    }, {});
  };
</script>

<div class="main">
  <div class="left-col">
    <div class="grid-item activity">
      <h6 class="section-title">Activity</h6>
      <div class="activity-grid">
        <div>{% include 'dashboard/activity/_active_zones.html' %}</div>
        <div>{% include 'dashboard/activity/_metrics.html' %}</div>
      </div>
    </div>
    <div class="grid-item body-weight-fat">
      <h6 class="section-title">Body Weight & Fat</h6>
      <div>{% include 'dashboard/body_weight_fat/_metrics.html' %}</div>
    </div>
  </div>
  <div class="right-col">
    <div class="grid-item nutrition">
      <h6 class="section-title">Nutrition</h6>
      <div>{% include 'dashboard/nutrition/_calorie_count.html' %}</div>
    </div>
    <div class="dual-section heart-sleep">
      <div class="grid-item" style="position: relative">
        <h6 class="section-title">Heart Rate</h6>
        <div>
          {% include 'dashboard/heart_rate_zones/_heart_rate_zones.html' %}
        </div>
      </div>
      <div class="grid-item sleep-cycles">
        <h6 class="section-title">Sleep Cycles</h6>
        <div>{% include 'dashboard/sleep_cycles/_sleep_zones.html' %}</div>
      </div>
    </div>
  </div>
</div>
