<style>
  .patients-info-table {
    display: table;
  }

  .search-form-group {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1rem;
  }

  .search-form-group .form-group {
    flex: 1;
    margin-bottom: 0;
  }

  .search-form-group .submit-button {
    margin-left: 1rem;
  }
</style>

<div class="menu d-flex flex-column">
  <div class="px-3">
    <form id="global-config-form" method="GET" action="" class="">
      <div class="search-form-group">
        <div class="form-group">
          <label for="global-search">Patient search</label>
          <select
            class="form-control"
            name="patientId"
            id="global-search"
          ></select>
        </div>
        <div class="submit-button">
          <button type="submit" class="btn btn-primary mx-auto">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="form-group">
        <label for="global--time-period-selector">Time period</label>
        <select
          name="period"
          class="form-control"
          id="global--time-period-selector"
        >
          <option value="7">1 week</option>
          <option value="14">2 weeks</option>
          <option value="30">1 month</option>
          <option value="60">2 months</option>
          <!-- <option value="90">Last 3 months</option> -->
        </select>
      </div>
      <input id="global-start-date-input" type="hidden" name="startDate" />
      <input id="global-end-date-input" type="hidden" name="endDate" />
    </form>

    {% include "dashboard/_date_selector.html" %}

    <div class="mt-5" id="patients-info">
      <table
        class="card patients-info-table table table-light"
        id="patient-details"
      >
        <thead>
          <tr>
            <th colspan="2" class="m-0 p-0">
              <h6 class="m-2 text-center"><b>Patient Details</b></h6>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="py-0">
            <th class="text-right py-1" scope="row">Name</th>
            <td id="patient--name" class="text-capitalize py-1"></td>
          </tr>
          <tr class="py-0">
            <th class="text-right py-1" scope="row">Age</th>
            <td id="patient--age" class="text-capitalize py-1"></td>
          </tr>
          <tr class="py-0">
            <th class="text-right py-1" scope="row">Sex</th>
            <td id="patient--sex" class="text-capitalize py-1"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% include 'dashboard/activity/_activity_index_summary.html' %}
</div>

<script>
  let globalConfigForm;
  let globalSearchInput;
  let globalPeriodInput;
  let globalLoading;
  let globalPatientsList;
  let globalStartDateInput;
  let globalEndDateInput;

  const getPatients = async () => {
    globalPatientsList = await makeRequest("get", "{% url 'patients' %}");
  };

  const formatPatient = (patient) => {
    return `${patient.profile_data.fullName}, ${patient.profile_data.age} (${patient.profile_data.gender[0]})`;
  };

  const configureForm = async () => {
    globalLoading = true;
    try {
      const data = Object.fromEntries(
        new URLSearchParams(window.location.search.replace("?", ""))
      );

      if (!!data["period"]) {
        globalPeriodInput.val(data["period"]);
      }

      initDateSelector(data);
      let patientId;

      if (!!data["patientId"]) {
        patientId = data["patientId"];
      } else if (globalPatientsList && globalPatientsList[0]) {
        globalSearchInput.val(globalPatientsList[0].user || 0);
        globalConfigForm.submit();
        return;
      } else {
        globalSearchInput.val(0);
        globalConfigForm.submit();
        return;
      }

      await populatePatientDetails(patientId);
    } catch (err) {
      console.warn(err);
    }
    globalLoading = false;
  };

  const addListeners = () => {
    globalSearchInput.change(function (event) {
      globalConfigForm.submit();
    });

    globalPeriodInput.change(function (event) {
      const period = event.target.value;
      reconfigureDateRange(period);
      globalConfigForm.submit();
    });

    configureForm();
  };

  const populatePatientDetails = async (patientId) => {
    if (!patientId) return;
    const sexEl = $("#patient--sex");
    const nameEl = $("#patient--name");
    const ageEl = $("#patient--age");

    const patient = await makeRequest("post", "{% url 'patient_details' %}", {
      patientId,
    });
    const { fullName, age } = patient;
    const gender = patient.gender.toLowerCase();
    const title = gender === "male" ? "Mr" : "Mrs";
    nameEl.text(`${title}. ${fullName}`);
    ageEl.text(age);
    sexEl.text(gender);

    const data = {
      patientId: parseInt(patientId, 10),
      period: globalPeriodInput.val(),
      range: getCurrentRange(),
    };
    redrawActivityHeatmap(data);
    redrawActivityZones(data);
    redrawNutritionBarPlots(data);
    redrawActivityMetrics(data);
    redrawBodyWeightFatCharts(data);
    redrawHeartRateZones(data);
    redrawSleepZones(data);
  };

  const populatePatients = () => {
    globalPatientsList.forEach((patient) => {
      globalSearchInput.append(
        `<option value="${patient.user}">${formatPatient(patient)}</option>`
      );
    });
    addListeners();
  };

  $(document).ready(async function () {
    $.fn.filterByData = function (prop, val) {
      return this.filter(function () {
        return $(this).data(prop) == val;
      });
    };

    globalConfigForm = $("#global-config-form");
    globalSearchInput = $("#global-search");
    globalPeriodInput = $("#global--time-period-selector");
    globalStartDateInput = $("#global-start-date-input");
    globalEndDateInput = $("#global-end-date-input");

    await getPatients();
    populatePatients();
  });
</script>
