<style>
  .menu {
    background-color: #d7faf8;
    padding: 0 1rem;
  }

  .patients-info-table {
    table-layout: fixed;
  }

  #patients-list {
    max-height: 15vmin;
    margin-bottom: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
</style>

<div class="menu d-flex flex-column">
  <form id="global-config-form" method="GET" action="" class="">
    <div class="form-group">
      <label for="global-search">Patient search</label>
      <input
        class="form-control flex-fill"
        type="search"
        placeholder="Search"
        aria-label="Search"
        id="global-search"
        name="patientId"
      />
    </div>
    <div class="form-group">
      <label for="global--time-period-selector">Time period</label>
      <select
        name="period"
        class="form-control"
        id="global--time-period-selector"
      >
        <option value="7">Last week</option>
        <option value="14">Last 2 weeks</option>
        <option value="30">Last month</option>
        <option value="60">Last 2 months</option>
        <!-- <option value="90">Last 3 months</option> -->
      </select>
    </div>
    <div class="submit-button d-flex">
      <button type="submit" class="btn btn-primary mx-auto">Submit</button>
    </div>
  </form>

  <div id="patients-list" class="list-group">
  </div>

  <div class="mt-3" id="patients-info">
    <table
      class="card patients-info-table table table-light"
      id="patient-details"
    >
      <thead>
        <tr>
          <th class="m-0 p-0">
            <h6 class="m-2">Patient Details</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="py-0">
          <th class="py-1" scope="row">Name</th>
          <td id="patient--name" class="text-capitalize py-1"></td>
        </tr>
        <tr class="py-0">
          <th class="py-1" scope="row">Age</th>
          <td id="patient--age" class="text-capitalize py-1"></td>
        </tr>
        <tr class="py-0">
          <th class="py-1" scope="row">Sex</th>
          <td id="patient--sex" class="text-capitalize py-1"></td>
        </tr>
      </tbody>
    </table>

    {% include 'dashboard/activity/_activity_index_summary.html' %}
  </div>
</div>

<script>
  let globalConfigForm;
  let globalSearchInput;
  let globalPeriodInput;
  let globalPatientsList;
  let globalLoading;

  const choosePatient = (btn) => {
    const buttons = globalPatientsList.find(".list-group-item-action");
    buttons.each((_, el) => el.classList.remove("active"));
    btn.classList.add("active");
    const patientId = parseInt($(btn).data("patientId"));

    globalSearchInput.val(patientId);
    globalConfigForm.submit();
  };

  const choosePeriod = (period) => {
    globalConfigForm.submit();
  }

  const configureForm = async () => {
    globalLoading = true;
    try {
      const data = Object.fromEntries(new URLSearchParams(window.location.search.replace('?', '')));
      const buttons = globalPatientsList.find(".list-group-item-action");
      buttons.each((_, el) => el.classList.remove("active"));
      let patientId;

      if (!!data['patientId']) {
        const btn = buttons.filterByData('patientId', data['patientId'])[0];
        if (btn) {
          btn.classList.add("active");
          globalSearchInput.val(data['patientId']);
          patientId = data['patientId'];
        }
      } else {
        const btn = buttons[0];
        if (btn) {
          btn.classList.add("active");
          globalSearchInput.val($(btn).data('patientId'));
          globalConfigForm.submit();
          return;
        }
      }

      if (!!data['period']) {
        globalPeriodInput.val(data['period']);
      }

      await populatePatientDetails(patientId);
    } catch (err) {
      console.warn(err);
    }
    globalLoading = false;
  }

  const addListeners = () => {
    const buttons = globalPatientsList.find(".list-group-item-action");
    buttons.each((_, btn) => {
      $(btn).click(() => {
        choosePatient(btn);
      });
    });

    globalPeriodInput.change(function (event) {
      choosePeriod(event.target.value);
    });

    configureForm();
  }

  const populatePatientDetails = async (patientId) => {
    if (!patientId) return;
    const sexEl = $('#patient--sex');
    const nameEl = $('#patient--name');
    const ageEl = $('#patient--age');

    // TODO: fetch real patient data here
    const patient = (await axios({
      method: 'post',
      data: {patientId},
      url: "{% url 'patient_details' %}",
    })).data;
    const title = patient.sex.toLowerCase() === 'male' ? "Mr" : 'Mrs'
    nameEl.text(`${title}. ${patient.name}`);
    ageEl.text(patient.age);
    sexEl.text(patient.sex);

    const data = {
      patientId: parseInt(patientId, 10),
      period: globalPeriodInput.val(),
    };
    redrawActivityHeatmap(data);
    redrawActivityZones(data);
    redrawNutritionBarPlots(data);
    redrawActivityMetrics(data);
  }

  const populatePatients = (patients) => {
    globalPatientsList.empty();
    patients.forEach(patient => {
      const btn = document.createElement('button');
      btn.classList.add('py-1', 'list-group-item', 'list-group-item-action', 'btn-primary');
      btn.dataset.patientId = patient.id;
      btn.innerText = `Patient ${patient.id}`;
      globalPatientsList.append(btn);
    });

    addListeners();
  }

  $(document).ready(function () {
    $.fn.filterByData = function(prop, val) {
      return this.filter(
        function() { return $(this).data(prop)==val; }
      );
    };

    globalConfigForm = $('#global-config-form');
    globalSearchInput = $('#global-search');
    globalPeriodInput = $("#global--time-period-selector");
    globalPatientsList = $('#patients-list')

    addListeners();

    // randomly populating patients
    populatePatients(Array.from({length: 4}, (_, i) => ({id: i + 1})));
  });
</script>
